<html>
<body>

<h1>Methods to Madness predictor</h1>

<p>The select element is used to pick a team from a drop-down list.</p>

<form action="/predict">
  <label for="teams">Choose a team:</label>
  <select name="team" id="car">
    <option value="0">Gonzaga</option>
    <option value="1">Kansas</option>
    <option value="2">Baylor</option>
    <option value="3">Arizona</option>
    <option value="4">San Francisco</option>
    <option value="5">Loyola Chicago</option>
    <option value="6">Davidson</option>
    <option value="7">Miami FL</option>
    <option value="8">Virginia Tech</option>
    <option value="9">Michigan</option>
    <option value="10">Notre Dame</option>
    <option value="11">Iowa St.</option>
    <option value="12">Rutgers</option>
    <option value="13">Indiana</option>
    <option value="14">UAB</option>
    <option value="15">Wyoming</option>
    <option value="16">New Mexico St.</option>
    <option value="17">Richmond</option>
    <option value="18">Vermont</option>
    <option value="19">South Dakota St.</option>
    <option value="20">Chattanooga</option>
    <option value="21">Akron</option>
    <option value="22">Colgate</option>
    <option value="23">Longwood</option>
    <option value="24">Montana St.</option>
    <option value="25">Yale</option>
    <option value="26">Saint Peter's</option>
    <option value="27">Delaware</option>
    <option value="28">Jacksonville St.</option>
    <option value="29">Cal St. Fullerton</option>
    <option value="30">Georgia St.</option>
    <option value="31">Bryant</option>
    <option value="32">Norfolk St.</option>
    <option value="33">Texas Southern</option>
    <option value="34">Wright St.</option>
    <option value="35">Texas A&M Corpus Chris</option>
    <option value="36">Kentucky</option>
    <option value="37">Duke</option>
    <option value="38">Villanova</option>
    <option value="39">Auburn</option>
    <option value="40">Texas Tech</option>
    <option value="41">Tennessee</option>
    <option value="42">Purdue</option>
    <option value="43">Wisconsin</option>
    <option value="44">UCLA</option>
    <option value="45">Illinois</option>
    <option value="46">Arkansas</option>
    <option value="47">Providence</option>
    <option value="48">Houston</option>
    <option value="49">Iowa</option>
    <option value="50">Saint Mary's</option>
    <option value="51">Connecticut</option>
    <option value="52">Texas</option>
    <option value="53">LSU</option>
    <option value="54">Alabama</option>
    <option value="55">Colorado St.</option>
    <option value="56">Ohio St.</option>
    <option value="57">Michigan St.</option>
    <option value="58">Murray St.</option>
    <option value="59">USC</option>
    <option value="60">San Diego St.</option>
    <option value="61">Bosie St.</option>
    <option value="62">North Carolina</option>
    <option value="63">Seton Hall</option>
    <option value="64">Memphis</option>
    <option value="65">TCU</option>
    <option value="66">Marquette</option>
    <option value="67">Creighton</option>
  </select>
  <br><br>
  <input type="submit" value="Submit">
</form>

<p>Click the "Submit" button to make the prediction.</p>

</body>
</html>